<?xml version="1.0"?>

<launch>

  <arg name="world_name"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find hector_gazebo_worlds)/worlds/$(arg world_name).world"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="paused" value="true"/>
  </include>

</launch>
