<?xml version="1.0"?>
<launch>

   <!-- LLAMAMOS AL NODO "topicAdapter" PARA CONVERTIR LA ALTURA POR SÓNAR Y EL MAGNETÓMETRO A LOS TIPOS DE DATO ADECUADOS -->
   <node name="topicAdapter" pkg="beta_bot_localization" type="topicAdapter" output="screen"/>

   <!-- LLAMAMOS AL NODO "topicAdapterControls" PARA QUE DECIDA QUÉ LOCALIZACIÓN USA EL CONTROL: GROUND TRUTH O LOCALIZACIÓN INTEGRADA. REPUBLICA EN /imu Y /state -->
   <node name="topicAdapterControls" pkg="beta_bot_localization" type="topicAdapterControls" output="screen"/>


   <!-- LLAMAMOS AL NODO "ground_truth_pub" PARA PUBLICAR GROUND TRUTH EN ANG EULER  -->
   <node name="ground_truth_pub" pkg="beta_bot_localization" type="gt_pub" output="screen"/>

   <!-- LLAMAMOS AL EKF PROPIO -->
   <node name="ekf_principal" pkg="beta_bot_localization" type="ekf_node_v4" output="screen"/>
   <node name="stereo_odometry_wrapper" pkg="beta_bot_localization" type="stereo_odometry_wrapper" output="screen"/>
   <node name="gn_ini" pkg="beta_bot_localization" type="gn_ini" output="screen"/>



</launch>
